.floating-plus-button {
    position: fixed;
    bottom: 40px;
    /* distance from the bottom */
    right: 20px;
    /* distance from the right */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #28a745;
    /* green color */
    color: #fff;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.floating-plus-button.red {
    text-decoration: none;
    right: 90px;
    background-color: red;
}
.floating-plus-button a{
    text-decoration: inherit;
}

.floating-plus-button:hover {
    background-color: #218838;
    /* slightly darker green on hover */
}

.floating-plus-button.red {
    background-color: rgb(212, 0, 0);
    /* slightly darker red on hover */
}