    #authForm {
        background-color: var(--main-c);
        margin: 100px auto;
        padding: 40px;
        width: 50%;
        min-width: 300px;
        max-width: 800px;
        background-color: rgb(49, 49, 49);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    @media only screen and (max-width: 600px) {
        #authForm {
            width: 80%;
        }
    }

    #authForm form h1 {
        text-align: center;
    }

    #authForm input:not([type=checkbox], [type=submit], #query) {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        border: 1px solid #aaaaaa;
    }

    #authForm textarea {
        resize: none;
        width: 98%;
        font-size: 17px;
        border: 1px solid #aaaaaa;
        padding: 10px;
    }

    /* Mark input boxes that gets an error on validation: */
    #authForm input[type=valid] .invalid {
        background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    #authForm .tab {
        display: none;
    }

    #authForm form button,
    #authForm input[type=submit],
    #authForm button.stepButton {
        background-color: var(--color-light);
        border: none;
        border-radius: 2rem;
        padding: 10px 20px;
        font-size: 17px;
        cursor: pointer;
    }

    #authForm button:hover.delete,
    #authForm form button:hover,
    #authForm input[type=submit]:hover {
        opacity: 0.8;
    }

    #prevBtn {
        background-color: #bbbbbb;
    }

    #authForm form a:link,
    #authForm form a:visited {
        color: white;
    }

    #authForm button.delete {
        background-color: red;
        color: whitesmoke;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        cursor: pointer;
    }


    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #04AA6D;
    }