/* Container for product items */
.product-container {
    flex-wrap: wrap;  /* IMPRT: makes items overflow to subsequent rows */
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin: 0 auto; /* Ensures items are aligned from the top */
    text-align: center; /* Centers the container */
    justify-content: center; /* Center the items within the container */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


/* Each product card */
.product-item {
    font-family: inherit;
    flex: 0 0 calc(33.333% - 1rem);
    text-align: center;
    transition: box-shadow 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item h3 { /* product title */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem 0; /*    Some spacing around the title */
}

.product-item>a {
    text-decoration: none;
}

.product-item h6 { /* product brand */
    margin: 0;
    color: var(--color-light);
}

.product-item h6 span.red { /* product brand */
    margin: 0;
    color: var(--color-primary);
}

.product-item p { /* product price */
    margin: 0;
}

/* Hover effect */
.product-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Ensure images scale properly */
.product-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

/* Responsive breakpoints */
@media (max-width: 992px) {
    .product-item {
        flex: 0 0 calc(33.333% - 1rem);
        /* 3 items per row */
    }
}

@media (max-width: 768px) {
    .product-item {
        flex: 0 0 calc(50% - 1rem);
        /* 2 items per row */
    }
}

@media (max-width: 480px) {
    .product-item {
        flex: 0 0 calc(100% - 1rem);
        /* 1 item per row on small screens */
    }
}