body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
    border-bottom: 1px solid white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li {
    list-style-type: none;
}