body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
    border-bottom: 1px solid white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


ol {
    list-style-type: none;
    counter-reset: section;
}

ol li {
    list-style-type: none;
    counter-increment: section;
    margin-bottom: 10px;
}

ol li::before {
    content: counter(section) ". ";
    font-weight: bold;
}

ol ol {
    counter-reset: subsection;
}

ol ol li {
    counter-increment: subsection;
}

ol ol li::before {
    content: counter(section) "." counter(subsection) " ";
    font-weight: normal;
}